body{
  display: flex;
  justify-content: center;
  color:white;
  background-color:black;
  background-image: url("../Images/Accueil.png")
}

#annonce{
  margin-top: 100;
  background-color : #cfe111;
  padding: 30;
  font-size: 50;
  max-width: 600px;
  min-width: 600px;
  border-color: black;
  border-radius: 10px;
  border-style : double;
}

.button{
  background-color : #e1c411;
  font-size: 50px;
  color : white;
  border-radius: 10px;
  padding: 50;
  position: relative;
  left : 50%;
  margin-left: -140;
  margin-top : 110;
}

.nameButt{ 
  background-color : #e1c411;
  font-size: 40px;
  color : white;
  border-radius: 10px;
  padding: 30;
  margin-top : 20px;
}

.voteButtons{
  display: flex;
  max-width: 600px;
  flex-direction: column;
}